@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');
:root {
    --main-bg-black: black;
    --main-bg-white: white;
    --main-bg-pink: #FD8F8B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    text-align: center;
    width: 50px;
    height: 50px;
}

.todoapp {
    width: 400px;
    border-radius: 3em;
    padding: 15px;
    margin: 50px auto;
    background-color: var(--main-bg-white);
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.6);
}

.todoapp .title {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    color: var(--main-bg-black);
}

.todoapp .new-todo {
    margin: 10px auto;
    width: 100%;
    height: 50px;
    text-align: center;
    outline: none;
    border-radius: 30px;
    border: 1px solid rgb(243, 240, 235);
}

.todo-list li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}

.todo-list li .toggle {
    height: 40px;
    background: none;
    opacity: 0;
    text-align: center;
    width: 40px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    -webkit-appearance: checkbox;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

.todo-list li label {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center left;
    word-break: break-all;
    padding: 15px 15px 15px 60px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
    font-size: 1.25rem;
}

.todo-list li .toggle:checked+label {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E");
}

.todo-list li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}

.todo-list li .destroy {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: var(--main-bg-pink);
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
}

.todo-list li:hover .destroy {
    display: block;
}

.todo-list li .destroy:after {
    content: "×";
}

.todo-list li.completed label {
    color: var(--main-bg-black);
    text-decoration: line-through;
}

.edit {
    outline: none;
    text-align: center;
}

.footer .filters {
    line-height: 70px;
}

.filters li {
    cursor: pointer;
}

.filters li a.selected {
    border-color: rgba(175, 47, 47, 0.2);
    cursor: pointer;
}

.filters li a {
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}


/* ///QuoteRandom */

.Bg {
    width: 100%;
    height: 100vh;
    padding: 70px;
}

.quote-box {
    padding: 20px 20px;
    width: 700px;
    font-size: 2rem;
    border-radius: 0.5rem;
    background-color: white;
    margin: 0 auto;
}

.quote-author {
    font-size: 1.5rem;
    text-align: end;
    margin-bottom: .75rem;
}

.buttons a {
    font-size: 3rem;
    border: none;
}

.buttons .button {
    height: 38px;
    border: none;
    border-radius: 3px;
    outline: none;
    color: white;
    padding: 0 10px;
    font-size: 0.85em;
    padding: 8px 18px 6px 18px;
    margin-top: 30px;
    margin-right: 10px;
    opacity: 1;
    cursor: pointer;
}

.buttons .new-quote {
    font-size: 1rem;
}

.quote-box .quote-text {
    font-size: 2rem;
}

.quote-text .quote {
    font-weight: 600;
}

.quote-mark {
    font-size: 3rem;
    margin-right: 0.5rem;
}

.transition {
    transition: all 0.5s ease-in-out;
}